.backgroundDeleteTema{
    background-color: #F2EEE3 !important ;
    background: radial-gradient(#3B9ABF 1px, transparent 1px);
    background-size: 25px 25px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
  }
.boxSuperiorDeleteTema{
    background-color: #B9BF8E;
    border-radius: 20px 20px 5px 5px;
    color: #11503F!important;
    font-weight: 600 !important;
    font-size: 14px !important;
    text-align: center;
    padding: 6px !important;
    margin: 0px !important;
}

.botaoSimTema{
    border-radius: 10px 10px 10px 20px !important;
    color: #F2EEE3!important;
    background-color:#3CA6A6!important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    margin-right: 2px !important;
}


.botaoNaoTema{
    border-radius: 10px 10px 20px 10px !important;
    color: #F2EEE3!important;
    background-color: #FF8177 !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    text-transform: capitalize !important;
    font-size: 14px !important;
    margin-left: 2px !important;
}

.cardDeleteTema{
    border-radius: 40px 40px 40px 40px !important;
    max-width: 330px;
    min-width: 230px;
    background-color:#faf8f2!important;
    padding-bottom: 10px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.textoDeleteTema{
    text-align: center;
    font-size: x-large !important;
    margin-top: 15px !important;
    color: #11503F!important;
}
