.cursor{
  cursor: pointer;
  font-weight: 600 !important;
  color: #11503F !important;
}

.text-decorator-none{
text-decoration-line: none !important;
}

.espaco{
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.botaoLog{
position: relative;
margin-left: 750px !important;
text-transform: capitalize !important;
font-weight: 600 !important;
color: #11503F !important;
background-color: #F2CFBB !important;
}

.barras{
 background-color: #F2CFBB !important;
}

.espaco-logo{
margin-right: 8px !important;
}
