.cursor{
    cursor: pointer;
    color: white !important;
}

.text-decorator-none{
  text-decoration-line: none !important;
}

.botoes{
  position: relative;
  top: 8px;
  right: 16px;
  font-size: 18px;
}