.botoesPost{
    color: #11503F !important;
    font-weight: bold !important;
    text-transform: none !important; 
 }

 .barras2{
    background-color: #F2E3DA !important;
 }

 .espaco-novoPost{
   align-items: center;
   justify-items: left !important;
   margin-top: 6px !important;
   margin-right: 550px !important;
 }