.cursor{
    cursor: pointer;
}

.btnModal{
    border-radius: 10px 20px 10px 20px !important;
    color: #11503F!important;
    background-color: #B9BF8E !important;
    text-transform: none !important;
    font-weight: 600 !important;
    
}
