.background-temas{
    background-color: #F2EEE3 !important ;
    background: radial-gradient(#3B9ABF 1px, transparent 1px);
    background-size: 25px 25px;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

.boxSuperior-tema{
    background-color: #B9BF8E;
    border-radius: 20px 20px 0px 0px;
    color: #ffffff!important;
    font-weight: 600 !important;
    font-size: 16px !important;
    text-align: center;
}

.botaoAtualizar-tema{
    border-radius: 0px 0px 0px 20px !important;
    color: #F2EEE3!important;
    background-color:#3CA6A6!important;
}


.botaoDelete-tema{
    border-radius: 0px 0px 20px 0px !important;
    color: #F2EEE3!important;
    background-color: #FF8177 !important;
}

.card-tema{
    border-radius: 30px 30px 30px 30px !important;
    max-width: 250px;
    min-width: 250px;
    background-color:#fcfcfc!important;
    margin-top: 20px !important;
}

.texto-tema{
    text-align: center;
    font-size: large !important;
    margin-top: 30px !important;
}